Resources:
  HTTPListener:
    Type: AWS::ElasticLoadBalancing::Listener
    Properties:
      LoadBalancerName: { "Ref": "AWSEBLoadBalancer" }
      InstancePort: "80"
      LoadBalancerPort: "80"
      Protocol: "HTTP"
      PolicyNames: []
  HTTPSListener:
    Type: AWS::ElasticLoadBalancing::Listener
    Properties:
      LoadBalancerName: { "Ref": "AWSEBLoadBalancer" }
      InstancePort: "80"
      LoadBalancerPort: "443"
      Protocol: "HTTPS"
      SSLCertificateId: "arn:aws:acm:region:account-id:certificate/7ac90d3c-2250-49f7-a6cc-01cc9fea07b1"
  HTTPTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      HealthCheckIntervalSeconds: '30'
      HealthCheckPath: /
      HealthCheckProtocol: HTTP
      HealthCheckTimeoutSeconds: '5'
      HealthyThresholdCount: '5'
      UnhealthyThresholdCount: '2'
      TargetGroupAttributes:
        - Key: deregistration_delay.timeout_seconds
          Value: '300'
      TargetType: instance
      VpcId:
        Ref: AWSEBVpcId
      Port: '80'
      Protocol: HTTP
  HTTPListenerRule:
    Type: AWS::ElasticLoadBalancingV2::ListenerRule
    Properties:
      Actions:
        - Type: 'redirect'
          RedirectConfig:
            Port: '443'
            Protocol: 'HTTPS'
            StatusCode: 'HTTP_301'
      Conditions:
        - Field: 'path-pattern'
          Values: ['/*']
      ListenerArn:
        Ref: HTTPListener
      Priority: 1
